<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814559855191-4mbr565ius0a74cl4fkhko835abq1ftj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814559855191-4mbr565ius0a74cl4fkhko835abq1ftj</string>
	<key>API_KEY</key>
	<string>AIzaSyDtdqAHTY_xyfcm1f5Z0LeI8TUFE6Iulbw</string>
	<key>GCM_SENDER_ID</key>
	<string>814559855191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syuta.MoaiApp</string>
	<key>PROJECT_ID</key>
	<string>moaiapp-4614e</string>
	<key>STORAGE_BUCKET</key>
	<string>moaiapp-4614e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814559855191:ios:3e375abe1734004dcd5912</string>
</dict>
</plist>